<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCULF6eiatHphDmcz0oPYj1B60oKpNOJcU</string>
	<key>GCM_SENDER_ID</key>
	<string>260578779074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speedyGo</string>
	<key>PROJECT_ID</key>
	<string>speedygo-a13e2</string>
	<key>STORAGE_BUCKET</key>
	<string>speedygo-a13e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260578779074:ios:b522cc98e6cd0ee31fc05b</string>
</dict>
</plist>